<div fxLayoutAlign="center center" fxFlexFill class="background">
  <mat-card>
    <mat-tab-group mat-align-tabs="center" animationDuration="0">
      <mat-tab>
        <ng-template mat-tab-label>
          login
          <mat-icon>login</mat-icon>
        </ng-template>
        <app-login></app-login>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          register
          <mat-icon>create</mat-icon>
        </ng-template>
        <app-register></app-register>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
